# docker-compose.yml

services:
  monarc:
    build: .
    ports:
      - "8086:80"
    depends_on:
      - db
    environment:
      - MONARC_VERSION=v2.13.3-p6
    volumes:
      - monarc_data:/var/lib/monarc/fo-data

  db:
    image: mariadb:lts
    environment:
      - MYSQL_ROOT_PASSWORD=monarc
      - MYSQL_DATABASE=monarc
      - MYSQL_USER=monarc
      - MYSQL_PASSWORD=monarc
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  monarc_data:
